.bigContainer {
    width: 100%;
    height: 100%;
    background-color: #012616;
    /* border: 1px solid red; */
}

.landingNavBarContainer {
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: #012616;
    border-bottom: 1px solid #C3F53C;
}

.landingAppName {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 180px;
    border-right: 1px solid #C3F53C;
}

.nameContainer {
    font-size: 24px;
    color: #C3F53C;
    /* font-weight: 600; */
}

.landingAppName>img {
    height: 40px;
    margin-left: 2px;
    /* border: 1px solid red; */
}

.rightNavContainer {
    display: flex;
}

.linkContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 500px;
    font-size: 20px;
    color: white;
    /* border: 1px solid white; */
}

.anchorTag {
    text-decoration: none;
    margin-right: 20px;
}


.anchorTag:visited {
    color: inherit;
}

.anchorTag:hover {
    color: #C3F53C;
}

.leftNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2%;
    width: 220px;
    /* border: 1px solid red; */
}

.leftNavContainer>button {
    width: 102px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid #C3F53C;
}

.leftNavContainer>button:hover {
    cursor: pointer;
}

.loginButton {
    width: 100%;
    font-weight: 600;
    margin-right: 10px;
    background-color: #012616;
    color: #C3F53C;
}

.signupButton {
    background-color: #C3F53C;
    font-weight: 600;
}

.firstContainer {
    background-color: #012616;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.landingVideo {
    margin: 20px 0;
    width: 100%;
    /* border: 1px solid white; */
}

.videoFooterContainer {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #C3F53C;
    font-size: 65px;
    font-weight: 600;
    background-color: #012616;
}
