.bigContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

nav {
    z-index: 5;
    top: 0;
    position: sticky;
    background-color: black;
}