.bigContainer {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    z-index: 5;
    top: 0;
    position: sticky;
    background-color: black;
    /* border: 1px white solid; */
}

.logo {
    height: 40px;
}

.logoSearchContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.accountNavLinks:hover {
    cursor: pointer;
}