.stockListContainer {
    /* border: 1px solid red; */
    height: 810px;
    border-radius: 5px;
    border: 1px solid #40494E;
}

.ownedStocksHeader {
    height: 51px;
    border-bottom: 1px solid #40494E;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-weight: 600;
    font-size: 15px;
}

.eachOwnedStockContainer {
    height: 60px;
    padding: 0 24px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.eachOwnedStockContainer:hover {
    cursor: pointer;
    background-color: #40494E;
}

.stockTickerSharesContainer {
    width: 65px;
    /* border: 1px solid green; */
}

.miniStockChartContainer {
    width: 60px;
    height: 34px;
    /* border: 1px solid green; */
}

.miniStockChart:hover {
    cursor: pointer;
}

.stockPriceContainer {
    width: 50px;
    /* border: 1px solid purple; */
}

.watchlistHeader {
    height: 51px;
    border-bottom: 1px solid #40494E;
    border-top: 1px solid #40494E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-weight: 600;
    font-size: 15px;
}

.iconContainer {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusIconContainer {
    display: flex;
    align-items: center;
}

.plusIconContainer:hover {
    cursor: pointer;
}

.plusIconContainer>img {
    height: 25px;
}

.createWatchlistFormDiv {
    height: fit-content;
    padding: 12px 24px;
    border-bottom: 1px solid #40494E;
}

.watchlistDiv {
    height: 60px;
    padding: 0 24px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watchlistDiv:hover {
    background-color: #40494E;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    margin-left: 50px;
    width: 150px;
    height: 80px;
    background-color: #40494E;
    border: 1px solid #566066;
    border-radius: 4px;
    z-index: 6;
    /* border: 1px red solid; */
}

.editListDiv {
    display: flex;
    align-items: center;
    padding: 0 5%;
    height: 50%;
    width: 90%;
    font-size: 13px;
    text-decoration: underline;
    /* border: 1px solid red; */
}

.editListDiv:hover {
    background-color: #566066;
    cursor: pointer;
}

.watchlistStockDiv {
    height: 60px;
    padding: 0 24px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watchlistStockDiv:hover {
    cursor: pointer;
    background-color: #40494E;
}