.searchBarDiv {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-width: 250px;
    height: 35px;
    /* border: 1px solid red; */
}

.searchInputs {
    display: flex;
    align-items: center;
    height: fit-content;
    border: #30363A 1px solid;
    border-radius: 4px;
}

.searchInputs:hover {
    background-color: #1E2124;
}

.searchIcon {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}

.searchIcon>img {
    height: 30px;
}

.searchInputs>input {
    width: 98%;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}

.searchInputs>input:hover {
    background-color: #1E2124;
}

.searchInputs>input:focus {
    background-color: #1E2124;
    outline: none;
}

.searchResults {
    font-size: 14px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #1e2124;
    z-index: 5;
}

.eachSearchResult {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    height: fit-content;
    padding: 5px 10px;
}

.eachSymbolDiv {
    /* border: 1px solid red; */
    width: 10%;
    margin-right: 50px;
    margin-left: 20px;
}

.eachSearchResult:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #363b41;
}