.searchBarDiv {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 30px;
}

.searchInputs {
    /* width: 100%; */
    height: 30px;
}

.searchInputs>input {
    margin-top: 4px;
    width: 98%;
    height: 30px;
    background-color: black;
    color: white;
    border: #30363A 1px solid;
    border-radius: 4px;
}

.searchInputs>input:hover {
    background-color: #1E2124;
}

.searchInputs>input:focus {
    background-color: #1E2124;
    outline: none;
}

.searchResults {
    margin-top: 10px;
    background-color: #1e2124;
    z-index: 5;
}

.eachSearchResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.eachSearchResult:hover {
    cursor: pointer;
    background-color: #363b41;
}